<div class="container">
  <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <label>Categories </label>
    <select
      class="form-control form-control-lg"
      id="idCat"
      name="idCat"
      [(ngModel)]="IdCategorie"
      (change)="onChange()"
    >
      <option *ngFor="let cat of genres" value="{{ cat.idCat }}">
        {{ cat.nomCat }}
      </option>
    </select>
  </div>

  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Date Création</th>
            <th>Genre</th>
          </tr>
        </thead>
        <tbody *ngFor="let watch of watches">
          <tr>
            <td>{{ watch.idWatch }}</td>
            <td>{{ watch.nomWatch }}</td>
            <td>{{ watch.prixWatch }}</td>
            <td>{{ watch.dateCreation | date : "dd/MM/yyyy" }}</td>
            <td>{{ watch.genre.nomCat }}</td>
            <!-- <td>
              <a
                *ngIf="authService.isAdmin()"
                class="btn btn-danger"
                (click)="supprimerWatch(watch)"
                >Supprimer</a
              >
            </td>
            <td>
              <a
                *ngIf="authService.isAdmin() || authService.isagent()"
                class="btn btn-success"
                [routerLink]="['/updateWatch', watch.idWatch]"
                >Modifier</a
              >
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
